* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, main, footer {
    width: 80%;
    background-color: darkgoldenrod;
    margin: 10px auto;
}

main {
    height: auto;
    margin: 10px auto 10px auto;
}

header {
    height: 60px;
}

footer {
    height: auto;
    display: flex;
    justify-content: space-between;

    padding: 30px;
}

.ajuste-tamanho {
    height: 20vh;
    background-color: darkolivegreen;
}

.content-card > div, footer > div {
    width: 48%;
    height: 200px;
    background-color: darkred;
}

.flex {
    display: flex;
}

.space-btw {
    justify-content: space-between;
}

section {
    margin: 10px 0;
}